{% extends 'shared/base.html' %}
{% load static %}


{% block content %}

    <div class="container d-flex mt-5 mb-5">
        <div class="col-sm-4 mt-3">
            {% include 'siderBar.html' %}
        </div>
        <div class="col-sm-8 mt-3">
            <form method="post" class="w-50 ml-auto mr-auto">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="input-group">
                            <span class="input-group-prepend"><span class="input-group-text"><img
                                    src="{% static 'images/password.svg' %}" alt="رمز عبور"></span></span>
                            {{ form.password }}
                        </div>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password"
                              data-valmsg-replace="true">
                            {% for msg in form.password.errors %}
                                {{ msg }}
                                <br>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="input-group">
                            <span class="input-group-prepend"><span class="input-group-text"><img
                                    src="{% static 'images/password.svg' %}" alt="تکرار رمز عبور"></span></span>
                            {{ form.re_password }}
                        </div>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword"
                              data-valmsg-replace="true">
                            {% for msg in form.re_password.errors %}
                                {{ msg }}
                                <br>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <input class="btn btn-block btn-success" type="submit" value="ویرایش">
            </form>
        </div>
    </div>



{% endblock %}