{% load static %}


<link rel='manifest' href='{% static 'utils/manifest.json' %}'>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
<meta name="x-stylesheet-fallback-test" content="" class="sr-only"/>
<script>!function (a, b, c, d) {
    var e, f = document, g = f.getElementsByTagName("SCRIPT"), h = g[g.length - 1].previousElementSibling,
        i = f.defaultView && f.defaultView.getComputedStyle ? f.defaultView.getComputedStyle(h) : h.currentStyle;
    if (i && i[a] !== b) for (e = 0; e < c.length; e++) f.write('<link href="' + c[e] + '" ' + d + "/>")
}("position", "absolute", ["/lib/bootstrap/dist/css/bootstrap.min.css"], "rel=\u0022stylesheet\u0022 integrity=\u0022sha384-Vkoo8x4CGsO3\u002BHhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh\u0022 crossorigin=\u0022anonymous\u0022 ");</script>
<link href="{% static 'css/all.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/OverlayScrollbars.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/persian-datepicker.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/slider.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/site.min.css' %}"/>

